@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, button, div {
  font-family: 'Press Start 2P', cursive, Arial, sans-serif;
}

button:hover {
  background-color: #007700;
}